@media (max-width: 360px) {
  /* line 4, ../sass/scss/_header.scss */
  #logo {
    margin: auto;
    width: 150px;
  }
}
@font-face {
  font-family: "mgs2menu";
  font-weight: bold;
  src: url("fonts/MGS2MENU.TTF");
}
