
@import "header";
@import "footer";

// Bootstrap reset
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}

@font-face {
	font-family: "mgs2menu";
	font-weight: bold;
	src: url("fonts/MGS2MENU.TTF");
}
body {
}

ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}

a, a:active, a:focus, a:visited {
	outline: none;
}